<md-content layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon md-font-icon="icon-lock" class="logo"></md-icon>
            <h1 class="title">保密局</h1>
            <span flex></span>
            <span style="margin-right: 10px;">
                {{ user.name }}
            </span>

            <md-button class="md-mini create" aria-label="new" ng-click="create($event)">
              <md-icon md-font-icon="icon-doc-new"></md-icon>
              <md-tooltip>
                  新增机密
              </md-tooltip>
            </md-button>

            <md-button class="md-mini setting" aria-label="new" ng-click="setting($event)">
              <md-icon md-font-icon="icon-wrench"></md-icon>
              <md-tooltip>
                  设置
              </md-tooltip>
            </md-button>

            <md-button class="md-fab md-warn md-mini exit" aria-label="logout" ng-click="logout()">
              <md-icon md-font-icon="icon-logout-1"></md-icon>
              <md-tooltip>
                  登出系统
              </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-input-container class="searchtxt-container">
        <label>搜索</label>
        <input ng-model="search.txt">
    </md-input-container>
    <div layout="column" layout-align="center center" ng-if="loading" flex>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-list flex class="secrets-container" ng-if="!loading">
        <md-list-item ng-repeat="secret in secrets | searchFilter: search.searchTxt: ['name', 'desc']" class="secret" >
            <div class="md-list-item-text">
                <h4 class="key-title">{{ secret.name }}</h4>
                <p class="key-desc">
                    {{ secret.desc }}
                </p>
            </div>
            <md-button class="key-btn md-fab md-mini md-primary md-secondary" style="right: 65px;">
                <md-icon class="key-icon" md-font-icon="icon-eye"></md-icon>
                <md-tooltip>
                    查看
                </md-tooltip>
            </md-button>
            <md-button class="key-btn md-fab md-mini md-warn md-secondary" style="right: 12px;">
                <md-icon class="key-icon" md-font-icon="icon-cancel"></md-icon>
                <md-tooltip>
                    删除
                </md-tooltip>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
