<md-content layout="column">
    <md-sidenav md-component-id="left" class="md-sidenav-left view-secret-container">
        <md-content layout="column">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>
                  <span>查看机密</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="create" ng-click="saveSecret()" ng-disabled="!state.canSave">
                  <md-icon md-font-icon="icon-floppy" style="font-size: 22px;"></md-icon>
                  <md-tooltip>
                      确认保存
                  </md-tooltip>
                </md-button>
              </div>
            </md-toolbar>
            <md-input-container class="md-block" style="padding: 0 20px 10px 20px;">
                <label>保密项名称</label>
                <input ng-model="state.currentSecret.name" readonly>
            </md-input-container>
            <md-input-container class="md-block" style="padding: 0 20px 10px 20px;">
                <label>保密项描述</label>
                <textarea ng-model="state.currentSecret.desc" columns="1" md-maxlength="100" required></textarea>
            </md-input-container>
            <div layout="column" flex class="item-container">
                <div class="item-input" layout="row" ng-repeat="item in state.currentSecret.items" item-edit="item" on-remove="removeItem(item)"></div>
                <div class="item-input" layout="row" item-input="info" on-submit="addItem()"></div>
            </div>
        </md-content>
    </md-sidenav>
    <md-toolbar class="top-toolbar">
        <div class="md-toolbar-tools">
            <md-icon md-font-icon="icon-lock" class="logo"></md-icon>
            <h1 class="title">保密局</h1>
            <span flex></span>
            <span style="margin-right: 10px;">
                {{ user.name }}
            </span>

            <md-button class="md-icon-button create" aria-label="new" ng-click="create($event)">
              <md-icon md-font-icon="icon-doc-new"></md-icon>
              <md-tooltip>
                  新增机密
              </md-tooltip>
            </md-button>

            <md-button class="md-icon-button setting" aria-label="new" ng-click="setting($event)">
              <md-icon md-font-icon="icon-params"></md-icon>
              <md-tooltip>
                  设置
              </md-tooltip>
            </md-button>

            <md-button class="md-icon-button exit" aria-label="logout" ng-click="logout()">
              <md-icon md-font-icon="icon-logout-2" style="color: #d43f3a;"></md-icon>
              <md-tooltip>
                  登出系统
              </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-input-container class="searchtxt-container">
        <label>搜索</label>
        <input ng-model="search.txt">
    </md-input-container>
    <div layout="column" layout-align="center center" ng-if="loading" flex>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column" layout-align="center center" ng-if="!loading && !secrets.length" flex>
        <h2>没有任何秘密可言哦，来创建吧！</h2>
    </div>
    <div ng-if="!loading" flex layout="column" class="secrets-container">
        <md-list>
            <md-list-item ng-repeat="secret in secrets | searchFilter: search.searchTxt: ['name', 'desc']" class="secret">
                <div class="md-list-item-text">
                    <h4 class="key-title">{{ secret.name }}</h4>
                    <p class="key-desc">
                        {{ secret.desc }}
                    </p>
                </div>
                <md-button class="key-btn md-icon-button md-primary md-secondary" style="right: 65px;" ng-click="viewSecret(secret)">
                    <md-icon class="key-icon" md-font-icon="icon-eye"></md-icon>
                    <md-tooltip>
                        查看
                    </md-tooltip>
                </md-button>
                <md-button class="key-btn md-icon-button md-warn md-secondary" style="right: 12px;" ng-click="deleteSecret(secret,$event)">
                    <md-icon class="key-icon" md-font-icon="icon-cancel"></md-icon>
                    <md-tooltip>
                        删除
                    </md-tooltip>
                </md-button>
            </md-list-item>
        </md-list>
    </div>
</md-content>
