<h2>信息创建</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">信息名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="信息名">
        </div>
    </div>
    <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">信息描述</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" id="desc" placeholder="信息描述"></textarea>
        </div>
    </div>
</form>
<table st-table="items" class="table table-striped">
    <thead>
        <tr>
            <th st-ratio="40" st-sort="key">内容键</th>
            <th st-ratio="40" st-sort="value">内容值</th>
            <th st-ratio="20">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td st-ratio="40">{{ item.key }}</td>
            <td st-ratio="40">{{ item.value }}</td>
            <td st-ratio="20">
                <button type="button" ng-click="removeInfo(item)" class="btn btn-danger">删除</button>
            </td>
        </tr>
    </tbody>
</table>