<h2>信息列表</h2>
<table st-table="info.infos" st-safe-src="info.originInfos" class="table table-striped table-hover">
    <thead>
    <tr>
        <th st-ratio="40" st-sort="name">信息项</th>
        <th st-ratio="35" st-sort="desc">描述</th>
        <th st-ratio="25">操作</th>
    </tr>
    <tr>
        <th colspan="3" st-ratio="100">
            <input st-search="" class="form-control" placeholder="搜索..." type="search"/>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="information in info.infos">
            <td st-ratio="40">{{ information.name }}</td>
            <td st-ratio="35">{{ information.desc }}</td>
            <td st-ratio="25" style="text-align: right;">
                <button type="button" ng-click="info.viewInfo(information, $event)" class="btn btn-info btn-sm">查看</button>
                <button type="button" ng-click="info.removeInfo(information, $event)" class="btn btn-danger btn-sm">删除</button>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="info.displayDetail" class="info-detail bouncy-slide-right" on-out-click="info.closeViewInfo()">
    <div ng-if="!info.isEditing">
        <i style="cursor: pointer;" class="glyphicon glyphicon-remove-circle btn-lg" ng-click="info.closeViewInfo()"></i>
        <button class="btn btn-warning btn-sm pull-right" style="margin-top: 7px; border-top-right-radius: 0; border-bottom-right-radius: 0;" ng-click="info.toggleEdit(true, $event)">编辑</button>

        <input type="text" class="form-control" value="{{ info.currentInfo.name }}" readonly="" style="margin-bottom: 5px; border-radius: 0;">
        <textarea class="form-control" rows="3" readonly="" style="border-radius: 0;">{{ info.currentInfo.desc }}</textarea>
        <table st-table="info.currentInfo.items" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th st-ratio="50" st-sort="key">内容键</th>
                    <th st-ratio="50" st-sort="value">内容值</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in info.currentInfo.items track by $index" class="scale-fade">
                    <td st-ratio="50">{{ item.key }}</td>
                    <td st-ratio="50">{{ item.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="info.isEditing">
        <i style="cursor: pointer;" class="glyphicon glyphicon-remove-circle btn-lg" ng-click="info.closeViewInfo()"></i>
        <button class="btn btn-primary btn-sm pull-right" style="margin-top: 7px; border-radius: 0;" ng-click="info.edit.updateInfo($event)" ng-disabled="editInfoForm.$invalid">保存</button>
        <button class="btn btn-default btn-sm pull-right" style="margin-top: 7px; border-top-right-radius: 0; border-bottom-right-radius: 0;" ng-click="info.toggleEdit(false, $event)">取消</button>

        <form name="editInfoForm">
            <input type="text" class="form-control" ng-model="info.edit.info.name" style="margin-bottom: 5px; border-radius: 0;" required>
            <textarea class="form-control" rows="3" style="border-radius: 0;" ng-model="info.edit.info.desc" required></textarea>
        </form>
        <form name="editItemForm" ng-submit="info.edit.addNewItem()" role="form">
            <table st-table="info.edit.info.items" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th st-ratio="40" st-sort="key">内容键</th>
                        <th st-ratio="45" st-sort="value">内容值</th>
                        <th st-ratio="15">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in info.edit.info.items track by $index" class="scale-fade">
                        <td st-ratio="40">{{ item.key }}</td>
                        <td st-ratio="45">{{ item.value }}</td>
                        <td st-ratio="15" style="text-align: right;">
                            <button type="button" ng-click="info.edit.removeItem(item, $event)" class="btn btn-danger btn-sm">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td st-ratio="40">
                            <input type="text" autofocus name="key" class="input-sm form-control" ng-model="info.edit.newItem.key" placeholder="如：用户名" required>
                        </td>
                        <td st-ratio="45">
                            <input type="text" name="value" class="input-sm form-control" ng-model="info.edit.newItem.value"  placeholder="如：当年明月" required>
                        </td>
                        <td st-ratio="15" style="text-align: right;">
                            <button type="submit" class="btn btn-info btn-sm" ng-disabled="editItemForm.$invalid">新增</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>