<h2>信息列表</h2>
<table st-table="infos" class="table table-striped">
    <thead>
    <tr>
        <th st-ratio="25" st-sort="firstName">信息项</th>
        <th st-ratio="50" st-sort="lastName">描述</th>
        <th st-ratio="25">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="info in infos">
        <td st-ratio="25">{{ info.name }}</td>
        <td st-ratio="50">{{ info.desc }}</td>
        <td st-ratio="25">
            <button type="button" ng-click="removeRow(info)" class="btn btn-info">查看</button>
            <button type="button" ng-click="removeInfo(info)" class="btn btn-danger">删除</button>
        </td>
    </tr>
    </tbody>
</table>