<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/secret/"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;疯语者</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><span>我的名字叫顺溜</span></li>
              <li><a href="#"><i class="fa fa-th-large"></i>&nbsp;首页</a></li>
              <li><a href="#"><i class="fa fa-sign-out"></i>&nbsp;登出</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/user.html">用户</a></li>
            <li><a href="/server.html">服务器</a></li>
            <li class="active"><a href="/data.html">数据</a></li>
            <li><a href="/application.html">应用</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">概览</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-5 placeholder">
                <div id="usageChart" class="usage-chart"></div>
            </div>

          </div>

          <h2 class="sub-header">应用列表</h2>
          <button class="btn btn-primary pull-right extra-func" onclick="openApplicationModal()">+开通应用</button>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>应用名称</th>
                  <th>介绍说明</th>
                  <th>状态</th>
                  <th>版本</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>交易系统</td>
                  <td>xxx</td>
                  <td>正常</td>
                  <td>1.9</td>
                </tr>

              </tbody>
            </table>
          </div>

          <div id="application" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="application" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="application">说明</h4>
                      </div>
                      <div class="modal-body">
                          即将上线自助服务！若您想了解或使用更多应用，请联系您的客户经理，或发送邮件至<a href="mailto:services@datayes.com">services@datayes.com</a>。
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      </div>
                  </div>
              </div>
          </div>

        </div>
      </div>
    </div>