<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/secret/info"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;疯语者</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><span>{{ user.name }}</span></li>
              <li><i class="fa fa-th-large"></i>&nbsp;首页</li>
              <li><i class="fa fa-sign-out"></i>&nbsp;登出</li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar" ng-class="{swipe: displaySidebar}">
          <ul class="nav nav-sidebar">
            <li ng-class="{active:tab === 'info'}" ng-click="toggleTab('info')">信息管理</li>
            <li ng-class="{active:tab === 'create'}" ng-click="toggleTab('create')">创建信息</li>
            <li ng-class="{active:tab === 'setting'}" ng-click="toggleTab('setting')">设置</li>
          </ul>
        </div>

        <div ng-if="tab === 'info'" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main info" ng-include="'js/features/secret/partials/Info.html'" ng-controller="InfoController"></div>
        <div ng-if="tab === 'create'" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main create" ng-include="'js/features/secret/partials/Create.html'" ng-controller="CreateController"></div>
        <div ng-if="tab === 'setting'" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main setting" ng-include="'js/features/secret/partials/Setting.html'" ng-controller="SettingController"></div>

      </div>
    </div>