<div bs-active-pane="setting.activeTab" bs-tabs>
    <div bs-pane title="数据库配置">
        <br/>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="jumbotron">
                  <p>请选择你的数据本地保存位置</p>
                  <div class="input-group">
                      <input type="text" readonly="" value="{{ setting.dbLocation }}" class="form-control">
                      <span class="btn btn-info btn-file input-group-addon">
                            &nbsp;&nbsp;选择&nbsp;&nbsp;<input type="file" fileread="setting.dbLocation" nwdirectory nwworkingdir="">
                      </span>
                  </div>
                </div>
            </div>

            <div class="panel-footer text-right">
                <button class="btn btn-success confirm-btn" ng-disabled="!setting.dbLocation || !setting.dirty" ng-click="setting.showConfirmDbChangeModal()">
                      确定
                  </button>
            </div>

        </div>  
    </div>

    <div bs-pane title="密码管理">你大爷的</div>
</div>