<div bs-active-pane="setting.activeTab" bs-tabs>
    <div bs-pane title="数据库配置">
        <div class="panel panel-info manage-section">
            <div class="panel-body">
                <div class="jumbotron">
                  <p>请选择你的数据本地保存位置</p>
                  <div class="input-group">
                      <input type="text" readonly="" value="{{ setting.dbLocation }}" class="form-control">
                      <span class="btn btn-info btn-file input-group-addon">
                            &nbsp;&nbsp;选择&nbsp;&nbsp;<input type="file" fileread="setting.dbLocation" nwdirectory nwworkingdir="">
                      </span>
                  </div>
                </div>
            </div>

            <div class="panel-footer text-right">
                <button class="btn btn-success confirm-btn" ng-disabled="!setting.dbLocation || !setting.dirty" ng-click="setting.showConfirmDbChangeModal()">
                      确定
                  </button>
            </div>

        </div>  
    </div>

    <div bs-pane title="密码管理">
        <div class="panel panel-info manage-section">

            <div class="panel-body">

                <form class="form-horizontal" role="form" name="pwdForm" ng-submit="setting.showPwdUpdateConfirmModal(pwdForm)">
                                
                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" ng-model="setting.oldPassword" class="form-control" autofocus placeholder="旧密码" required>
                    </div>

                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" ng-model="setting.newPassword" class="form-control" placeholder="新密码密码" required>
                    </div>

                    <div class="input-group form-row" id="renewpassword">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" ng-model="setting.renewPassword" class="form-control" placeholder="重复新密码" required data-title="{{ setting.valiate.title }}" bs-show="setting.valiate.showHint" data-placement="bottom" data-type="info" bs-tooltip>
                    </div>
                            
                    <div class="input-group pull-right">
                        <button class="btn btn-primary" type="submit" ng-disabled="!setting.oldPassword || !setting.newPassword || !setting.renewPassword || setting.valiate.showHint">
                                确认修改
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div bs-pane title="密码提示管理">
        <div class="panel panel-info manage-section">

            <div class="panel-body">

                <form class="form-horizontal" role="form" name="hintForm" ng-submit="setting.showHintChangeConfirmModal(hintForm)">
                                
                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
                        <button type="button" class="btn btn-default" ng-model="setting.selectedQuestion" ng-options="question.value as question.label for question in setting.questions" bs-select placeholder="请选择密码提示问题">
                          <span class="caret"></span>
                        </button>
                    </div>

                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                        <input type="text" class="form-control" ng-model="setting.answer" placeholder="密码提示答案">
                    </div>
                                
                    <div class="input-group pull-right">
                        <button class="btn btn-primary" type="submit" ng-disabled="!setting.selectedQuestion || !setting.answer || !hintForm.$dirty">
                            确认修改
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>