<br/>
<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">忘记密码</div>
                <div class="pull-right head-action"><a href="#/login">登录</a></div>
            </div>     

            <div class="panel-body">

                <form class="form-horizontal" role="form">
                                
                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" autofocus placeholder="用户名">
                    </div>
                            
                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
                        <button type="button" class="btn btn-default" ng-model="selectedQuestion" ng-options="question.value as question.label for question in questions" bs-select placeholder="请选择密码提示问题">
                          <span class="caret"></span>
                        </button>
                    </div>

                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                        <input type="text" class="form-control" placeholder="密码提示答案">
                    </div>
                                
                    <div class="form-group">
                        <div class="col-sm-8 text-left">
                            <span ng-if="password" class="label label-info">{{ password }}</span>
                        </div>

                        <div class="col-sm-4 text-right">
                            <button class="btn btn-primary confirm-btn" type="submit">
                                找回密码
                            </button>
                            <hr/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div>
                                没有账号! 
                                <a href="#/signup" >
                                    这里注册吧
                                </a>
                            </div>
                        </div>
                    </div>    
                </form>     

            </div>                     
        </div>  
    </div>
</div>