<form id="forget" layout="column" name="forgetform" ng-submit="getPassword()">
    <a href="#/login" shake-icon class="top-back animated" shake-icon><i class="icon-angle-double-down"></i>返回登录</a>

    <div flex="20" class="top-half-panel" layout="row" layout-align="start end">
        <span class="hint md-display-1">找回密码</span>
    </div>

    <div flex="80" layout="row" layout-align="center start">
        <md-content class="content" style="padding-top: 20px;">
            <md-input-container class="md-block">
                <label>用户名</label>
                <input ng-model="user.name" required>
            </md-input-container>

            <md-input-container class="md-block" style="padding-top: 0;">
                <label>密码提示问题</label>
                <input ng-model="user.question" readonly>
                <div ng-messages="state">
                    <div ng-message="incorrectusername">请输入正确的用户名</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" style="margin-bottom: 0;">
                <label>密码提示答案</label>
                <input ng-model="user.answer" required>
            </md-input-container>

            <md-content class="content md-body-1" layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-primary" style="margin-right: 0;" ng-disabled="forgetform.$invalid || !hasDbSet">确认找回</md-button>
            </md-content>

        </md-content>
    </div>

</form>
