<br/>
<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">登录</div>
                <div class="pull-right head-action"><a href="#/forget">忘记密码?</a></div>
            </div>     

            <div class="panel-body">

                <form class="form-horizontal" role="form" ng-submit="login()">
                                
                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" ng-model="user.name" class="form-control" placeholder="用户名">                                        
                    </div>
                            
                    <div class="input-group form-row">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" ng-model="user.password" class="form-control"  placeholder="密码">
                    </div>
                                
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary confirm-btn" type="submit">
                                登录
                            </button>
                            <hr/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div>
                                没有账号! 
                                <a href="#/signup" >
                                    这里注册吧
                                </a>
                            </div>
                        </div>
                    </div>    
                </form>     

            </div>                     
        </div>  
    </div>
</div>