<form id="login" layout="column" name="loginform" ng-submit="login()">
    <a href="#/setdb" class="top-back animated" shake-icon><i class="icon-angle-double-down"></i>更改数据库</a>

    <div flex="33" class="top-half-panel" layout="row" layout-align="start end">
        <span class="hint md-display-1">欢迎进入保密局</span>
    </div>
    <div flex="67" layout="row" layout-align="center start">
        <md-content layout-padding class="content">
            <md-input-container class="md-block" style="padding-bottom: 14px; margin-top: 10px;">
                <label>用户名</label>
                <input ng-model="user.name" name="username" type="text" autofocus required>
            </md-input-container>

            <md-input-container class="md-block">
                <label>密码</label>
                <input ng-model="user.password" name="password" type="password" required>
            </md-input-container>

            <md-content class="content md-body-1" layout="row" layout-align="space-between center">
                <a href="#/forget" flex="40">忘记密码？</a>
                <md-button type="submit" flex="50" class="md-raised md-primary" style="margin-right: 0;" ng-disabled="loginform.$invalid || !hasDbSet">登录</md-button>
            </md-content>

            <md-content class="content md-body-1" layout="row" layout-align="end center" style="margin-top: 10px;">
                <a href="#/signup">没有账号？创建一个</a>
            </md-content>

        </md-content>
    </div>
</form>
