<form id="signup" layout="column" name="dbform" ng-submit="saveDB()">
    <a href="#/login" shake-icon class="back-login animated" shake-icon ng-class="state.shake"><i class="icon-angle-double-down"></i>返回登录</a>

    <div flex="25" class="header" layout="row" layout-align="start end">
        <span class="hint md-display-1">开始注册</span>
    </div>

    <div flex="75" layout="row" layout-align="center start">
        <md-content layout-padding class="content">
            <md-input-container class="md-block">
                <label>用户名</label>
                <input class="md-accent" ng-model="user.username">
            </md-input-container>

            <md-input-container class="md-block">
                <label>密码</label>
                <input class="md-accent" ng-model="user.password">
            </md-input-container>

            <md-input-container class="md-block">
                <label>确认密码</label>
                <input class="md-accent" ng-model="user.repassword">
            </md-input-container>

            <md-input-container>
                <label>密码提示问题</label>
                <md-select name="question" ng-model="user.question" required>
                    <md-option value="1">One</md-option>
                    <md-option value="2">Two</md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>密码提示答案</label>
                <input class="md-accent" ng-model="user.answer">
            </md-input-container>

            <md-content class="content md-body-1" layout="row" layout-align="end center">
                <md-button type="submit" class="md-raised md-primary" style="margin-right: 0;" ng-disabled="!db.address || state.invalidAddress">确认</md-button>
            </md-content>

        </md-content>
    </div>

</form>
