@toolbar-height: 60px;

.manager{

    .top-toolbar{
        .md-toolbar-tools{

            height: @toolbar-height;
            max-height: @toolbar-height;
            h1{
                font-size: 30px;
            }
            .logo{
                line-height: @toolbar-height;
                height: @toolbar-height;
                font-size: 35px;
            }
            .icon-doc-new,
            .icon-params,
            .icon-logout-2{
                font-size: 22px;
            }

        }
    }

    .searchbox{
        padding: 0 16px;
        md-input-container{
            margin-bottom: 0;
        }
    }

    .secrets-container{
        margin-top: -20px;
        overflow-y: auto;
        z-index: 1;
        padding-bottom: 10px;
        md-list{
            padding-top: 0;
            md-list-item{
                transition: all 0.3s ease 0s;
                md-icon{
                    font-size: 23px;
                    opacity: 0.6;
                    transition: all 0.3s ease 0s;
                }
            }
            md-list-item:hover{
                background-color: #FAFAFA;
                md-icon{
                    opacity: 1;
                }
            }
        }
    }

    .bottom-panel{
        transform: translateY(0);
        padding: 0;
        border-top-width: 0;

        >md-content{
            height: 100%;
            padding-bottom: 10px;
        }
    }

    .create-panel{
        height: 550px;
        >md-content{

            >md-toolbar{
                margin-bottom: 20px;
                md-icon{
                    font-size: 20px;
                }
            }
            >md-input-container{
                padding: 0 16px;
                >label{
                    padding-left: 0;
                    left: 16px;
                }
            }
        }
    }

    .setting-panel{
        height: 370px;
        md-tabs{
            height: 100%;
            md-tab-content form{
                padding: 20px 16px 10px 16px;
            }
        }
    }

    .view-secret-container{
        max-width: 600px;
        width: 550px;

        > md-content{
            height: 100%;
            padding-bottom: 10px;
            >md-input-container{
                padding: 0 16px;
                >label{
                    padding-left: 0;
                    left: 16px;
                }
            }
        }
    }

    .item-container{
        padding: 0 16px;
        overflow-y: auto;
        .item{
            position: relative;
            i{
                position: absolute;
                right: 0;
                top: 0;
                color: red;
                font-size: 20px;
                cursor: pointer;
                display: none;
            }
            i.show{
                display: block;
            }
        }
        md-input-container{
            margin-bottom: 0;
        }
    }
}
