.manager{

    md-bottom-sheet{
        border-top: 0;
        padding: 0;
        height: 420px;
        > md-content{
            height: 100%;
            > md-tabs{
                height: 100%;
                position: static;
                border-radius: 0;

                md-input-container{
                    padding-left: 0;
                    input, label{
                        padding-left: 0;
                    }
                }
            }
        }

        md-tab-content{
            padding: 5px 20px;
        }
    }

    div[ng-view] > md-content{
        height: 100%;
        padding-bottom: 15px;
    }

    .md-toolbar-tools{
        padding-left: 0;
    }

    .logo{
        font-size: 40px;
        line-height: 40px;
        height: 40px;
    }

    .exit,
    .create,
    .setting{
        md-icon{
            font-size: 22px;
        }
    }

    .create,
    .setting{
        min-width: 50px;
        margin: 0;
    }

    .title{
        font-size: 27px;
        font-weight: bold;
    }

    .searchtxt-container{
        padding: 0 20px;
        > label, > input{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .secrets-container{
        overflow-y: auto;
        padding-bottom: 0;
        transition: background-color 0.3s ease;

        md-list-item:hover{
            background-color: #FAFAFA;
        }
    }

    md-list-item.secret{
        position: relative;
        margin-bottom: 10px;
        button{
            margin-top: 0;
        }
        .md-list-item-text{
            padding-left: 20px;
        }
        &:last-child{
            margin-bottom: 0;
        }

        .key-title{
            margin: 5px 0 0 0;
        }
        .key-desc{
            margin: 10px 0 5px 0;
        }
        .key-icon{
            font-size: 22px;
            margin-left: -1px;
        }
    }

    md-list-item.secret > div{
        padding-left: 10px;
        padding-right: 150px;
    }
}
